<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Apache-Axis</display-name>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<display-name>SOAPMonitorService</display-name>
		<servlet-name>SOAPMonitorService</servlet-name>
		<servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
		<init-param>
			<param-name>SOAPMonitorPort</param-name>
			<param-value>5101</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<servlet>
		<description></description>
		<display-name>MemberFrontController</display-name>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>member.controller.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>/MemberFrontController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllMemberInfoServlet</display-name>
		<servlet-name>GetAllMemberInfoServlet</servlet-name>
		<servlet-class>member.servlet.GetAllMemberInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllMemberInfoServlet</servlet-name>
		<url-pattern>/GetAllMemberInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>member.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>member.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyMemberServlet</display-name>
		<servlet-name>ModifyMemberServlet</servlet-name>
		<servlet-class>member.servlet.ModifyMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyMemberServlet</servlet-name>
		<url-pattern>/ModifyMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterMemberServlet</display-name>
		<servlet-name>RegisterMemberServlet</servlet-name>
		<servlet-class>member.servlet.RegisterMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterMemberServlet</servlet-name>
		<url-pattern>/RegisterMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveMemberServlet</display-name>
		<servlet-name>RemoveMemberServlet</servlet-name>
		<servlet-class>member.servlet.RemoveMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveMemberServlet</servlet-name>
		<url-pattern>/RemoveMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveMemberForAdminServlet</display-name>
		<servlet-name>RemoveMemberForAdminServlet</servlet-name>
		<servlet-class>member.servlet.RemoveMemberForAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveMemberForAdminServlet</servlet-name>
		<url-pattern>/RemoveMemberForAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ItemFrontController</display-name>
		<servlet-name>ItemFrontController</servlet-name>
		<servlet-class>item.controller.ItemFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemFrontController</servlet-name>
		<url-pattern>/ItemFrontController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteItemServlet</display-name>
		<servlet-name>DeleteItemServlet</servlet-name>
		<servlet-class>item.servlet.DeleteItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteItemServlet</servlet-name>
		<url-pattern>/DeleteItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllItemInfoServlet</display-name>
		<servlet-name>GetAllItemInfoServlet</servlet-name>
		<servlet-class>item.servlet.GetAllItemInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllItemInfoServlet</servlet-name>
		<url-pattern>/GetAllItemInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddToCartServlet</display-name>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>item.servlet.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/AddToCartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyItemServlet</display-name>
		<servlet-name>ModifyItemServlet</servlet-name>
		<servlet-class>item.servlet.ModifyItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyItemServlet</servlet-name>
		<url-pattern>/ModifyItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostItemServlet</display-name>
		<servlet-name>PostItemServlet</servlet-name>
		<servlet-class>item.servlet.PostItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostItemServlet</servlet-name>
		<url-pattern>/PostItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchItemServlet</display-name>
		<servlet-name>SearchItemServlet</servlet-name>
		<servlet-class>item.servlet.SearchItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchItemServlet</servlet-name>
		<url-pattern>/SearchItemServlet</url-pattern>
	</servlet-mapping>
</web-app>